<md-toolbar color="accent" class="md-toolbar-tools my-toolbar">

  <button md-icon-button [routerLink]="['/home/']">
			<i class="material-icons">keyboard_backspace</i>
	</button>
  <span class="app-title" id="title">Bouncing Ball</span>

</md-toolbar>
<md-sidenav-container fullscreen>
  <md-sidenav #sidenav mode="side" [opened]="true">
    <h2>Animation Speed</h2>
    <h3>{{speedIndicator}}</h3>
    <hr>
    <md-button-toggle (click)="toggleAnimation()">
      {{!paused ? 'pause' : 'resume'}}
    </md-button-toggle>
  </md-sidenav>
  <div class="my-content">
    <div class="ball" id="ball"></div>
  </div>
</md-sidenav-container>
