.submit-button{
	width: 180px;
	margin: 15px auto;
	left: 50%;
	-webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}
md-card{
  width: 530px;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
h2{
  text-align: center;
}
input{
	text-align: center;
}
