<md-toolbar color="primary" class="md-toolbar-tools my-toolbar">

  <img class="angular-logo" src="./assets/icons/angular-white-transparent.svg" alt="angular">
  <span class="app-title" id="title">My ZKH Test</span>

</md-toolbar>
<md-sidenav-container fullscreen>

  <div class="my-content">
    <div class="nav-buttons-container">
      <button md-raised-button [routerLink]="['/drag-and-drop-list/']">Dragula List</button>
      <button md-raised-button [routerLink]="['/charts/']">Angular Charts</button>
      <button md-raised-button [routerLink]="['/bouncing-ball/']">Bouncing Ball</button>
    </div>
  </div>
</md-sidenav-container>
